body {
  font-family: 'Baloo Da 2', cursive !important;
  color: #fff !important;
  background: #333 !important;
}

.navbar-brand {
  font-size: 30px !important;
  color: #fff !important;
}

.nav-link {
  font-size: 18px !important;
  margin-left: 20px !important;
  color: #fff !important;
}

.card-body {
  background: #efebe9 ;
  color: #333;
}

.display-container {
  color: #333;
}

.delete-icon {
  color: #f44336;
}

.edit-icon {
  color: #1565c0;
}

h5 {
  color: #fff;
}

.delete-icon, .edit-icon {
  cursor: pointer;
}

.complete-icon {
  cursor: pointer;
}

.about-span {
  font-weight: bold;
  color: #333;
}

.footer {
  height: 45px;
  background: #263238;
  color: #fff;
  margin-top: 160px;
}
